@font-face {
    font-family: digital;
    src: url(font.ttf);
  }


/* The animation code */
@keyframes example {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }

@keyframes eins {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(90deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
}

#body {
    align-items: center;
    justify-content: center;
    background-color: black;
    display: flex;
}

#loading {
    position: absolute;
    top: 3em;
    left: 8em;
    /*animation-name: eins;
    animation-duration: 5s;
    animation-iteration-count: infinite;*/
    width: 0;
    height: 0;
    border-bottom: 60px solid greenyellow;
    border-left: 60px solid transparent;
}

.border {
    display: flex;
    position: absolute;
    top: 1em;
}

#loadingshadow{
    position: absolute;
    top: 3em;
    left: 9em;
    /*animation-name: eins;
    animation-duration: 5s;
    animation-iteration-count: infinite;*/
    width: 0;
    height: 0;
    border-bottom: 60px solid rgba(172, 255, 47, 0.329);
    border-left: 60px solid transparent;
}

#clock {
    position: absolute;
    top: 2em;
    color: greenyellow;
    font-size: 100px;
    font-family: digital;
    text-shadow: 10px 3px rgb(206, 255, 131, 0.15);
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

#clocknr {
    position: absolute;
    left: -1em;
    color: greenyellow;
    font-size: 160px;
    font-family: digital;
    text-shadow: 10px 5px rgb(206, 255, 131, 0.15);
}
